{% extends "layouts/main_layout.html" %}

{% block title %}Create Page{% endblock title %}

{% block nav %}
                <div>
                    <a href="{% url 'encyclopedia:index' %}">Home</a>
                </div>
{% endblock nav %}

{% block body %}
                <h1>Create a new page</h1>
                {% if error %}
                    <h3>{{ error }}</h3>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                <input type="submit" value="Submit">
                </form>
{% endblock body %}